.hero-carousels {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
}


.hero-carousels__container {
    height: 50%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-carousels__content {
    position: relative;
}

.hero-carousels__content h4 {
    position: relative;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 11px;
    text-transform: capitalize;
    transition: all 0.6s ease-in;
    /*animation: slideRight 0.4s ease-in 0s 1 normal forwards;*/
}

.ani-one {
    animation: slideRight 0.4s ease-in 0s 1 normal forwards;
}

.ani-two {
    animation: slideRight 0.6s ease-in 0s 1 normal forwards;
}

.hero-carousels__content h1 {
    position: relative;
    font-family: Playfair Display,serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 30px;
    transition: all 0.6s ease-in;
   /* animation: slideRight 0.6s ease-in 0s 1 normal forwards;*/
}

.hero-carousels__content p {
    position: relative;
    line-height: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.6s ease-in;
    /*animation: slideRight 0.4s ease-in 0s 1 normal forwards;*/
}

.hero-carousels__content p span {
    margin-left: 10px;
    color: var(--gold-color);
    font-size: 22px;
    font-weight: 600;
}

.hero-carousels__button {
    position: relative;
    width: fit-content;
    margin-top: 40px;
    padding: 0 35px;
    background-color: var(--gold-color);
    font-family: Rubik, sans-serif;
    font-size: 13px;
    line-height: 50px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.6s ease-in;
    /*animation: slideRight 0.5s ease-in 0s 1 normal forwards;*/
}

.hero-carousels__pointer-container {
    position: absolute;
    top: calc(100% - 30px);
    left: 50%;
    width: 40px;
    display: flex;
    justify-content: space-between;
}

.pointer {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.current-pointer {
    background-color: var(--gold-color);
}


@keyframes slideRight {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}