.banner {
    width: 100%;
    height: 510px;
    background-image: url(../../img/banner4.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in;
}

.banner-container:hover {
    transform: scale(1.05);
}

.banner-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banner-content p {
    font-size: 18px;
    text-transform: capitalize;
}

.banner-content p.first{
    color: var(--gold-color);
}

.banner-content h2 {
    margin-bottom: 10px;
    font-family: Playfair Display,serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-transform: capitalize;
}

.banner-button {
    margin-top: 70px;
    padding: 0 45px;
    border: 2px solid var(--gold-color);
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    line-height: 46px;
    color: var(--gold-color);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.banner-button:hover {
    background-color: var(--gold-color);
    color: #fff;
}